@import "media";

$gridCol : 12 !default;
$gridSystemWidth:100% !default;
$gridWidth:$gridSystemWidth/$gridCol !default;


$aligns:(start, end, center, baseline, stretch)!default;
$justifies:(start,end,center,between,around) !default;

%flex-base{
  box-sizing: border-box;
}

@for $i from 1 through $gridCol {
    .col-lg-#{$i},
    .col-md-#{$i},
    .col-sm-#{$i},
    .col-xs-#{$i} {
        @extend %flex-base;
    }
}

@for $i from 1 through $gridCol {
    .col-xs-#{$i} {
        flex-basis: $gridWidth*$i !important;
    }
    .col-offset-#{$i}{
    	margin-left:$gridWidth*$i;
    }
}
@for $i from 1 through $gridCol {
    .col-xs-#{$i} {
        flex-basis: $gridWidth*$i !important;
    }

    .col-offset-#{$i} {
        margin-left: $gridWidth*$i;
    }
}
@include media(">phone", "<=tablet") {
    @for $i from 1 through $gridCol {
        .col-sm-#{$i} {
            flex-basis: $gridWidth*$i !important;
        }
    }
}

@include media(">tablet", "<=desktop") {
    @for $i from 1 through $gridCol {
        .col-md-#{$i} {
            flex-basis: $gridWidth*$i !important;
        }
    }
}
@include media(">desktop") {
	@for $i from 1 through $gridCol {
    .col-lg-#{$i} {
        flex-basis: $gridWidth*$i
        !important;
    }
	}
}
@each $justify in $justifies {
	@if($justify == center){
		.justify-#{$justify}{
			justify-content:$justify
		}
	}@else if($justify == between or $justify == around){
			.justify-#{$justify}{
			justify-content:space-#{$justify}
		}
	}@else{
			.justify-#{$justify}{
			justify-content:flex-#{$justify}
		}
	}
}

@each $align in $aligns{
	@if($align == start or $align == end){
		.align-#{$align}{
			align-items :flex-#{$align}
		}
	}@else{
		.align-#{$align}{
			align-items :$align
		}
	}
}

.container{
	font-size:1rem;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
}
.col-auto{
  flex: 1 1 0 !important;
}
